#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.links{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.links a{
  color: #888;
  text-decoration: none;
  cursor: pointer;
}

.links a:hover{
  color: black;
}


